
.input {
	width: 220px;
	padding: 8px;
}

.socialnetworks {
	display: flex;
	flex-direction: column;
	justify-content:space-between;

	height: 150px;
}

.socialnetwork {
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 50px;
	width: 800px;
}

.socialnetwork_label {
	display: flex;
	align-items: center;
	margin: auto 0;
}