.stages {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	width: 180px;
}

.stage {
	padding: 10px;
	min-width: 37px;
	text-align: center;
}

.content {
	width: 250px;
}

.unactive {
	color: #bbbbbb;
}

.passed {
	color: #ff9800;
}