.prevnext {
	display: flex;
	justify-content: space-between;
	width: 255px;
}

.prevnext_button {
	padding: 7px;
	text-align: center;
	cursor: pointer;
}

.invert_color {
	background-color: #ff9800;
	color: white;
}