* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	position: absolute;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#root {
	display: flex;
	width: 100%;
	min-height: 100%;
}